@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container{
    background-color: #ffffff;
}
.container-fluid{
    min-height: 90vh;
}
h2{
    text-align: center;
    padding-top: 4.5vh;
    color: #60ac5a;
}
hr{
    width: 15%;
    margin: auto;
    border: solid 0.1vh  #60ac5a;
    
}

img{
    width: 9%;
    height: auto;
}
button{
    background-color: #60ac5a;
    color: white;
    
}
div.row{
    font-family: 'Montserrat', sans-serif;
}
textarea{
    resize: none;
}
.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
.warning{
    color: red;
    font-size: 9pt;
}
.input{
    margin-bottom:0;
}