#mainPhoto {
    background-color: #212121;
    height: 40vw;
    background-repeat: no-repeat;
    text-align: center;
}

#mainPhoto img {
    height: 100%;
    width: auto;
}
/*------------------Carousel---------------*/
.carousel{
    margin-bottom: 1vw;
    margin-top: 5vw;
}
.carousel-item img{
    max-height: 30vw;
}
.carousel-control-prev-icon{
    background-image: url("../../../../../assets/images/back.png");
    width: 5vw;
    height: 5vw;
}
.carousel-control-next-icon{
    background-image: url("../../../../../assets/images/right-arrow.png");
    width: 5vw;
    height: 5vw;
}
.arrowCarousel{
    background-color: #000;
    width: 6.5vw;
    height: 10.5vw;
    padding-top: 2.75vw;
}
/*-----------------------------------------------*/

#eventDescription{
    width: 80%;
    margin: 4vh auto;
}

#titleEvent{
    color: #54b456;
}

#hrTitleEvent{
    background-color: #54b456;
    height: 0.4vh;
    width: 22%;
    margin-left: 0;
    margin-top: 0;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    width: 25%;
    padding: 1.2vw;
    display: inline-block;
    text-align: center;
}

/* Style the images inside the grid */
.column img {
    width: auto;
    height: 12.4vw;
    cursor: pointer; 
}


/* Clear floats after the columns */
.tabSlider:after {
    content: "";
    display: table;
    clear: both;
}
.tabSlider {
    background-color: #212121;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 14.8vw;
}
.tabSlider::-webkit-scrollbar {
    display: none;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
#imageSelected {
    background-color: #333;
    position: relative;
    display: none;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

#expanded {
    width: 96%;
    height: auto;
}

.arrow{
    position: absolute;
    background-color: #000000;
    opacity: 0.75;
    width: 7vw;
    height: 14.8vw;
    cursor: pointer;
}
#rightArrow{
    right: 0;
}
.arrow img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover{
    transition: 0.5s;
    opacity: 1;
}

.darkGrey{
    background-color: #212121;
}
