#mainPhoto {
    background-size: 100vw;
    height: 30vw;
    background-repeat: no-repeat;
}
/*------------------Carousel---------------*/
.carousel{
    margin-bottom: 1vw;
    margin-top: 5vw;
}
.carousel-item img{
    max-height: 30vw;
}
.carousel-control-prev-icon{
    background-image: url("../../../../../assets/images/back.png");
    width: 5vw;
    height: 5vw;
}
.carousel-control-next-icon{
    background-image: url("../../../../../assets/images/right-arrow.png");
    width: 5vw;
    height: 5vw;
}
.arrowCarousel{
    background-color: #000;
    width: 6.5vw;
    height: 10.5vw;
    padding-top: 2.75vw;
}
/*-----------------------------------------------*/

#eventDescription{
    width: 80%;
    margin: 4vh auto;
}

#titleEvent{
    color: #54b456;
}

#hrTitleEvent{
    background-color: #54b456;
    height: 0.4vh;
    width: 22%;
    margin-left: 0;
    margin-top: 0;
}