.cover {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
}
.row{
    margin: 0;
}
#content{
    padding-bottom: 7.5vh;
    background-color: #ffecc1;
}
.btnVoltar{
    position: fixed;
    margin: 2vh;
    bottom: 0;
    z-index: 1000;
}
#mainPhoto {
    height: 40vw;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
#eventDescription{
    width: 80%;
    margin: auto;
    margin-top: 4vh;
    background-color: #fff;
    padding: 2vh;
    border-radius: 2vh;
}
#titleEvent{
    color: #212121;
}
/*------------Linha de fotos----------*/
.column {
    width: auto;
    padding: 1.2vw;
    display: inline-block;
    text-align: center;
}
.column img {
    width: auto;
    height: 12.4vw;
    cursor: pointer; 
}
.tabSlider:after {
    content: "";
    display: table;
    clear: both;
}
.tabSlider {
    background-color: #212121;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 14.8vw;
}
.tabSlider::-webkit-scrollbar {
    display: none;
}
/*--------------------------------------*/
/*------------Imagem expandida----------*/
#imageSelected {
    background-color: #333;
    position: relative;
    display: none;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
#expanded {
    width: 96%;
    height: auto;
}
@media only screen and (min-width: 992px) {
    #expanded{
        height: 76vh;
        width: auto !important;
    }
}
/*------------------------------------*/
/*------------Setas do TabSlider----------*/
.arrow{
    position: absolute;
    background-color: #000000;
    opacity: 0.75;
    width: 7vw;
    height: 14.8vw;
    cursor: pointer;
}
#rightArrow{
    right: 0;
}
.arrow img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.arrow:hover{
    transition: 0.5s;
    opacity: 1;
}
.darkGrey{
    background-color: #212121;
}
/*------------------------------------------*/
