<div *ngIf="status_evento; else loader">
  <h2 class="text-center" id="titleEvent">{{evento.title}}</h2>
  <div id="mainPhoto">
    <img src="{{evento.main_photo}}" alt="">
  </div>
  <a routerLink="/eventos" class="btn btn-dark m-1">Voltar aos eventos</a>
  <div class="container">
    <div id="eventDescription">
      <hr id="hrTitleEvent">
      <p class="text-justify">{{evento.description}}</p>
    </div>
  </div>
  <h2 class="text-center" id="titleEvent">Fotos do Evento</h2>
  <h6 class="text-center" id="titleEvent">(Selecione uma foto para aumentar)</h6>
  <div class="darkGrey">
    <!-- correção de espaços brancos entre as divs -->
    <div #widgetsContent *ngIf="status_evento" class="tabSlider">
      <div class="arrow" (click)="scrollLeft()">
        <img src="../../../../../assets/images/back.png" alt="">
      </div>
      <div class="arrow" id="rightArrow" (click)="scrollRight()">
        <img src="../../../../../assets/images/right-arrow.png" alt="">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[0].url }}" alt="Nature" (click)="expander(0);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[1].url }}" alt="Snow" (click)="expander(1);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[2].url }}" alt="Mountains" (click)="expander(2);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[3].url }}" alt="Lights" (click)="expander(3);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[4].url }}" alt="Lights" (click)="expander(4);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[5].url }}" alt="Lights" (click)="expander(5);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[6].url }}" alt="Lights" (click)="expander(6);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[7].url }}" alt="Lights" (click)="expander(7);">
      </div>
      <div class="column">
        <img src="{{ evento.eventPhotos[8].url }}" alt="Lights" (click)="expander(8);">
      </div>
    </div>

    <!-- The expanding image container -->
    <div id="imageSelected">
      <!-- Close the image -->
      <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
      <!-- Expanded image -->
      <img id="expanded" style="width:96%" src="{{ fotoExpandida.url }}">
    </div>
  </div>
</div>
  <ng-template #loader>
    <app-waiting-loader></app-waiting-loader>
  </ng-template>