
.container-fluid{
    background-color: #d5c570;
}
h2{
    color: #333333;
    padding-top: 4.5vh;
}
hr{
    width: 10%;
    margin: auto;
    border: solid 0.1vh  #333333;
    
}
@media only screen and (min-width: 600px) and (max-width: 767px) and (orientation: portrait){
    .container{
        height: 100vh;
    }
}
@media(min-width: 768px) and (orientation: portrait){
    .container{
        height: 100vh;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199.98px){
    .container{
        height: 100vh;
    }
}
@media only screen and (min-width: 1200px) and (orientation: landscape){
    .container{
        height: 90vh;
    }
}

div.icon
{
  font-size: 15pt; /* change icon size */
  display: block;
  position: relative;
  width: 40%;
  height: 9rem;
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}
div.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
div.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #f44242;
  border-bottom: 1px dashed #f88787;
  box-shadow: 0 2px 0 #f44242;
}

div.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
.card{
    background-color: #f2f2f2;
 
}
.card-section{
    position: relative;
    float: left;;
  
}