<div class="container-fluid">
  <h2 class="text-center">AGENDA</h2>
  <hr>
  <div class="container">
        <select name="meses" [(ngModel)]="monthFilter" class="btn" #meses (change)="onMonthChange($event)">
            <option selected value="-1">Todos</option>
            <option value="0">Janeiro</option>
            <option value="1">Fevereiro</option>
            <option value="2">Março</option>
            <option value="3">Abril</option>
            <option value="4">Maio</option>
            <option value="5">Junho</option>
            <option value="6">Julho</option>
            <option value="7">Agosto</option>
            <option value="8">Setembro</option>
            <option value="9">Outubro</option>
            <option value="10">Novembro</option>
            <option value="11">Dezembro</option>
        </select>
    <div class="row">
      
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-4" *ngFor="let a of agendaFiltered">
 
          <div class="icon">
              <strong> </strong>
              <div class="my-3">
              <span>{{ a.date }}</span>
              <h5 class="mt-2">{{ a.description }}</h5>
              <h3>{{ a.hour | slice: 0:5 }}</h3>
              </div>
          </div>
      </div>
    </div>
  </div>
</div> 