
@media (min-width: 768px) {
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
}

.active {
    font-weight: bold;
}

.activeRed{
    color:#dd0000 !important;
    font-weight: bold;
}
.navbar{
    min-height: 8.5vh;
}
