@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container-fluid{
    background-image: url('/assets/garoto-feliz.jpg');
    background-size: cover;
    background-position: center center;
    height: 90vh;
    display: flex;
	align-items: center;
}
.box{
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
	justify-content: center;
}
#teste{
    display: flex;
    justify-content: center;
}
.main{
    background-color: #fab72f;
    color: #ffffff;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h5{
    font-family:'Montserrat', sans-serif;
}
.frm{
    background-color: #60ac5a;
    color: #ffffff;
}
label{
    display: none;

}
textarea{
    resize: none;
}
.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
.warning{
    color: red;
    font-size: 9pt;
    padding-top: 0;
}
@media only screen and (min-width: 320px) and (max-width: 430px){
    .main{
        width: 55%;
        font-size: 8pt;
    }
}
