<div class="row">
  <div class="col-lg-3">
    <button class="btn" (click)="backCategorys()" id="btnVoltar">
      <img src="../../../../assets/images/back-arrow.png" alt="" srcset="" > Voltar
    </button>
  </div>
</div>

<div class="container">
  <div *ngFor="let parceiro of parceiros" class="responsive"  >
    <div class="partner">
      <img src="http://doacoes.apaetorres.org.br/{{parceiro.photo_partner}}" onError="this.src='../../../../../assets/images/no-image.png'">
      <div class="row desc">
        <div class="col-9 elipsesText">{{parceiro.fantasy_name_partner}}</div>
        <div class="col-1"><img src="../../../../assets/images/price-tag.png" alt="" srcset=""></div>
        <div class="col-1">{{parceiro.discount_partner}}%</div>
      </div>  
    </div>
  </div>
</div>
