* {
    box-sizing: border-box;
}
.elipsesText{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*-------------------RESPONSIVE----------------*/
.responsive {
    float: left;
    width: 33%;
}

div.partner {
    background: #212121;
    margin-left: 2%;
    border: 1px solid #ccc;
    position: relative;
    margin-bottom: 1vh;
    text-align: center;
}

div.partner:hover {
    border: 1px solid #000;
}

div.partner img {
    height: 8vw;
}

div.desc {
    padding: 0.7vh;
    background-color: #fff;
    font-size: 1.2vw;
    text-align: left;
}

div.desc img{
    height: 2.2vw;
}

.row{
    margin: 0;
}

@media only screen and (max-width: 992px) {
    
    .responsive {
        width: 49%;
        margin: 6px 0;
    }
    div.partner{
        margin-bottom: 0;
    }
    div.partner img{
        height: 10.4vw;
    }
    div.desc{
        font-size: 1.5vw;
    }
    div.desc img{
        height: 3vw;
    }
}

@media only screen and (max-width: 768px){
    .container{
        max-width: 580px;
    }
}

@media only screen and (max-width: 576px) {
    .responsive {
        width: 96%;
        margin: 0;
    }
    div.partner{
        margin-bottom: 1vh;
    }
    div.partner img{
        height: 27vw;
    }
    div.desc{
        font-size: 3.2vw;
    }
    div.desc img{
        height: 6vw;
    }
}
/*--------------------------------------------------*/

#btnVoltar{
    background-color: #212121;
    color: #fff;
    margin: 1vh;
}

#btnVoltar img{
    height: 30px;
}