<div class="row justify-content-center m-0">
  <div class="input-group mb-3 col-10 col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="procuraCategoria" placeholder="Procurar categoria">
    
  </div>
</div>
<div *ngIf="status_lista; else loader"  class="container">
  <div *ngFor="let categoria of categorias | searcher : procuraCategoria" class="responsive" >
    <div class="gallery" (click)="consultarParceiros(categoria.id_category)">
      <img src="http://doacoes.apaetorres.org.br/{{categoria.photo_category}}" alt="{{ categoria.name_category }}">
      <div class="titleCard">{{ categoria.name_category }}</div>
      <div class="desc">Ver parceiros</div>
    </div>
  </div>
</div>
<ng-template #loader >
  <app-waiting-loader></app-waiting-loader>
</ng-template>