
<div id="divTopAdm">
    <div class="float-right mt-3 mr-4 text-light">
        <img src="../../../assets/images/user.png" width="20px" alt="" srcset=""> {{ userName }}
    </div>
</div>
    <div class="row">
        <div class="col-2" id="divControlDashbord">
            <div id="divIcone">
                <img class="img-fluid" src="../../../assets/apae-logo.png">
            </div>
            <div id="divMenu">
                <ul id="ulMenu">
                    <li><a id="aMenu" routerLink="/admin/dashboard/adm-apae-torres" routerLinkActive="active">Apae Torres</a></li>
                    <li><a id="aMenu" routerLink="/admin/dashboard/adm-doe-amor" routerLinkActive="active">Doe Amor</a></li>
                    <li><a id="aMenu" routerLink="/admin/dashboard/adm-agenda" routerLinkActive="active">Agenda</a></li>
                    <li><a id="aMenu" routerLink="/admin/dashboard/adm-eventos" routerLinkActive="active">Eventos</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>