<section>
    <div class="row">
        <div class="panel-body">
            <div class="col-lg-12">
                <foto></foto>
                <hr>
                <h2 class="text-center">{{title}}</h2>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="panel-body">
            <div class="col-lg-12">
                <hr>
                <h2 class="text-center">{{title}}</h2>
                <hr>
                <p>Donec tellus est, viverra quis turpis vel, semper molestie turpis. In eget ligula lorem. Mauris id rhoncus risus, placerat dignissim nunc. Nunc luctus tempus sem eu porta. Aenean ac ultricies eros, eget consequat neque. Maecenas porttitor risus ex, eget tincidunt erat suscipit vel. Etiam convallis mi nec libero bibendum pellentesque. In iaculis felis sed ex faucibus rutrum. Suspendisse nec porttitor diam, quis scelerisque erat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum non purus eget egestas. Curabitur fermentum pellentesque mi ut interdum. Nulla faucibus dui augue, ut dignissim quam pharetra quis. Phasellus et lorem accumsan magna egestas iaculis vel posuere enim. Donec consequat, ligula pulvinar tempor aliquet, ex lacus sollicitudin dolor, et tempus metus est quis lectus. Fusce imperdiet laoreet lectus a bibendum. Morbi suscipit euismod ligula vitae volutpat. Integer imperdiet dapibus egestas. Aenean nec diam egestas, efficitur arcu quis, blandit diam.</p>
                <p>Curabitur feugiat ipsum quis auctor pellentesque. Vivamus blandit vitae odio viverra sollicitudin. Nunc pulvinar maximus rhoncus. Phasellus interdum sollicitudin ligula at tristique. Donec tellus quam, tincidunt nec dignissim quis, aliquet tempus tortor. Fusce mattis nulla quis feugiat eleifend. Suspendisse eget nisi finibus, pellentesque erat vel, semper nibh. Cras neque dui, efficitur id leo a, placerat posuere urna. Fusce vestibulum molestie libero, fermentum egestas neque mattis vitae. Proin ultrices pulvinar nibh, eu vulputate lacus malesuada eu. In hac habitasse platea dictumst.</p>
            </div>
        </div>
    </div>
</section>