<div class="row justify-content-center">
  <div class="input-group mb-3 col-5">
    <input type="text" class="form-control" [(ngModel)]="procuraCategoria" placeholder="Procurar categoria">
    
  </div>
</div>
<div class="container">
  <div *ngFor="let categoria of categorias | searcher : procuraCategoria" class="responsive" >
    <div class="gallery" (click)="consultarParceiros(categoria.id_category)">
      <img src="http://apaetorres.org.br/doacoes{{categoria.photo_category}}" alt="{{ categoria.name_category }}">
      <div class="titleCard">{{ categoria.name_category }}</div>
      <div class="desc">Ver parceiros</div>
    </div>
  </div>
</div>