<div id="mainDiv">
    <a routerLink="/admin/dashboard/adm-eventos/cadastrar" class="btn btn-success mt-2">Adicionar Evento</a>
    <div id="listEvents">
      <table class="table table-striped table-sm table-light table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Título do Evento </th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evento of eventos">
            <th scope="row">{{evento.id}}</th>
            <td>{{evento.titulo}}</td>
            <td>
              <button class="btn-primary">Editar</button>
              <button type="button" class="btn-danger" data-toggle="modal" data-target="#exampleModal">
                  Excluir
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excluir evento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Deseja realmente excluir este evento?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">voltar</button>
          <button type="button" class="btn btn-danger">Excluir</button>
        </div>
      </div>
    </div>
  </div>
