<nav class="navbar navbar-expand-lg navbar-light bg-white shadow" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuSite" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuSite">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/apae-torres" class="nav-link" routerLinkActive="active">APAE TORRES</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/doe-amor" class="nav-link" routerLinkActive="activeRed">DOE AMOR</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/nossos-parceiros" class="nav-link" routerLinkActive="active">NOSSOS PARCEIROS</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/agenda" class="nav-link" routerLinkActive="active" >AGENDA</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/eventos" class="nav-link" routerLinkActive="active">EVENTOS</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a routerLink="/fale-conosco" class="nav-link" routerLinkActive="active">FALE CONOSCO</a>
      </li>
    </ul>
  </div>
</nav>