<div class="container-fluid">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 py-3">
        <img class="img-fluid py-3 px-3" src="{{ apaeTorres.obj.main_photo }}">
      </div>
      <section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h2 class="text-center">APAE TORRES</h2>
        <hr>
        <p class="py-3">{{apaeTorres.obj.description}}</p>
          <button type="button" class="btn btn-default mt-2 shadow-sm offset-3 py-3" (click)="toggleAssistP()">Políticas de Assistência Social</button><br>
          <button type="button" class="btn btn-default mt-2 shadow-sm offset-3 py-3" (click)="toggleEduP()">Políticas de Educação</button><br>
          <button type="button" class="btn btn-default mt-2 shadow-sm offset-3 py-3" (click)="toggleHealthP()">Políticas de Saúde</button>
      </section>
    </div>
    <div class="row">
      <article class="col-lg-12" *ngIf="!assist && !edu && !saude">
      </article>
      <article class="col-lg-12" *ngIf="assist">
        <h3>Políticas de Assistência Social</h3>
        <p class="py-3">{{ apaeTorres.obj.social_politics }}</p>
      </article>
      <article class="col-lg-12" *ngIf="edu">
          <h3>Políticas de Educação</h3>
          <p class="py-3">{{ apaeTorres.obj.education_policies }}</p>
      </article>
      <article class="col-lg-12" *ngIf="saude">
          <h3>Políticas de Saúde</h3>
          <p class="py-3">{{ apaeTorres.obj.health_policies }}</p>
      </article>
    </div>
  </div>
</div>
 