body {
  background-color: #f00 !important;
}

.textEllipsis{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50ch;
    margin: auto;
}

#cream{
  background-color: #ffecc1;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.card{
  background-color: #ffffff;
  width: 99.9%;
  margin-bottom: 5vh;
  height: 70vh;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  max-width: 70%;
  min-height: auto;
}
.textEllipsis2{
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50ch;
}

.thurnbail{
  margin-right: 0;
  margin-left: 2.4%;
  width: 29%;
  min-height: 11vh;
  display: inline-block;
  text-align: center;
  background-color: #212121;
  border-radius: 1vh;
}
.thurnbail img{
  max-height: 11vh;
  width: auto;
}
#lineEvent{
  margin-top: 4vh;
  width: 100%;
  min-height: 11.5vh;
}

a {
  color: #000;
  text-decoration:none;
}

.divTeste{
  min-height: 35vh;
}

/*---------------------------*/
#cover {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

.gradientTransparente{
  position: absolute;
  margin: 0;
  width: 100%;
  height: 50.2vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(255,255,255,1));
  z-index: 999;
}

.photos{
  width: 100%;
  height: 17.5vh;
  background-color: #fff;
  margin-bottom: 5vh;
}

.absoluter{
  width: 100%;
  margin-top: 44.2vh;
  position: absolute;
  z-index: 1000;
}

.mainPhoto{
  height: 50vh;
  width: 100%;
}