<div *ngIf="status_lista; else loader"  class="row pt-2">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <a routerLink="/eventos/evento-detalhe/{{eventosHome[2].id}}">
          <div class="divTeste">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>
          <h5 class="mx-1">{{eventosHome[1].title}}</h5>
          <p class="mx-3 textEllipsis2">{{eventosHome[1].description}}</p>
          <div id="lineEvent">
            <div id="thurnbail">
              <img src="{{eventosHome[2].main_photo}}" alt="">
            </div>
            
            <div id="thurnbail">
              <img src="{{eventosHome[2].main_photo}}" alt="">
            </div>
              
            <div id="thurnbail">
              <img src="{{eventosHome[2].main_photo}}" alt="">
            </div>
  
          </div>
          <h6 class="text-center mt-2">(Clique para ver detalhes)</h6>
        </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <a routerLink="/eventos/evento-detalhe/{{eventosHome[2].id}}">
        <div class="divTeste">
          <img src="../../../../assets/images/quadrada.jpg" alt="">
        </div>
        <h5 class="mx-1">{{eventosHome[0].title}}</h5>
        <p class="mx-3 textEllipsis2">{{eventosHome[0].description}}</p>
        <div id="lineEvent">
          <div id="thurnbail">
            <img src="../../../../assets/images/no-image.png" alt="">
          </div>
          
          <div id="thurnbail">
            <img src="../../../../assets/images/quadrada.jpg" alt="">
          </div>
            
          <div id="thurnbail">
            <img src="../../../../assets/images/no-image.png" alt="">
          </div>

        </div>
        <h6 class="text-center mt-2">(Clique para ver detalhes)</h6>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <a routerLink="/eventos/evento-detalhe/{{eventosHome[2].id}}">
        <div class="divTeste">
          <img src="{{eventosHome[0].main_photo}}" alt="">
        </div>
        <h5 class="mx-1">{{eventosHome[0].title}}</h5>
        <p class="mx-3 textEllipsis2">{{eventosHome[0].description}}</p>
        <div id="lineEvent">
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>
          
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>
            
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>

        </div>
        <h6 class="text-center mt-2">(Clique para ver detalhes)</h6>
      </a>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <a routerLink="/eventos/evento-detalhe/{{eventosHome[2].id}}">
        <div class="divTeste">
          <img src="{{eventosHome[4].main_photo}}" alt="">
        </div>
        <h5 class="mx-1">{{eventosHome[4].title}}</h5>
        <p class="mx-3 textEllipsis2">{{eventosHome[4].description}}</p>
        <div id="lineEvent">
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>
          
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>
            
          <div id="thurnbail">
            <img src="{{eventosHome[2].main_photo}}" alt="">
          </div>

        </div>
        <h6 class="text-center mt-2">(Clique para ver detalhes)</h6>
      </a>
    </div>
  </div>
</div>

<ng-template #loader >
  <app-waiting-loader></app-waiting-loader>
</ng-template>
