body {
  background-color: #f00 !important;
}

.arrowCarousel{
    background-color: #000;
    width: 6.5vw;
    height: 10.5vw;
    padding-top: 2.75vw;
}

.textEllipsis{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50ch;
    margin: auto;
}

.carousel{
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.carousel-control-prev-icon{
    background-image: url("../../../../assets/images/back.png");
    width: 5vw;
    height: 5vw;
}

.carousel-control-next-icon{
    background-image: url("../../../../assets/images/right-arrow.png");
    width: 5vw;
    height: 5vw;
}

.carousel-item img{
    max-height: 38vw;
}

.row {
  margin-right: 0;
  margin-left: 0;
  background-color: #eee;
}



.card{
  background-color: #212121;
  width: 100%;
  height: auto;
  min-height: 31.5vw;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}
.card img {
  max-width: 70%;
  min-height: auto;
}
.textEllipsis2{
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50ch;
}

#thurnbail{
  margin-right: 0;
  margin-left: 2.4%;
  width: 29%;
  min-height: 11vh;
  display: inline-block;
  text-align: center;
}
#thurnbail img{
  max-height: 11vh;
  width: auto;
}
#lineEvent{
  width: 100%;
  min-height: 13.5vh;
}

.card a {
  color: #fff;
  text-decoration:none;
}

.divTeste{
  min-height: 35vh;
}