<div *ngIf="status_lista; else loader" class="row pt-2" id="cream">
  <div *ngFor="let event of eventos"  class="col-lg-4 col-md-12 col-sm-12">
    <div class="card">
      <a routerLink="/eventos/evento-detalhe/{{event.id}}">
        <div class="absoluter">
          <h4 class="mb-0 textEllipsis2 px-1">{{ event.title }}</h4>
          <p class="m-0 textEllipsis2 px-1">{{ event.description }}</p>
        </div>
        <div class="gradientTransparente"></div>
        <div class="mainPhoto" id="cover" [style.background]="'url(' + encoder(event.main_photo) + ')'">
        </div>
        <div id="lineEvent">
          <div class="thurnbail" id="cover" [style.background]="'url(' + eventos[1].main_photo + ')'">
          </div>
          <div class="thurnbail" id="cover" [style.background]="'url(' + eventos[0].main_photo + ')'">
          </div>
          <div class="thurnbail" id="cover" [style.background]="'url(' + eventos[4].main_photo + ')'">
          </div>
        </div>
        <div>
          <p class="w-100 text-right pr-3">(Clique para ver detalhes)</p>
        </div>
      </a>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-waiting-loader></app-waiting-loader>
</ng-template>